/* -------------------------------------------------- */
/* Variables
/* -------------------------------------------------- */

// Services: Icons at Left
$services-icon-color							: #ff600a;
$services-icon-size								: 36px;

// Services: Icons at Top
$services-alt-title-color						: #232527;
$services-alt-font-color						: #7e858b;
$services-alt-icon-color						: #232527;
$services-alt-icon-color-hover					: #ffffff;
$services-alt-icon-size							: 42px;
$services-alt-icon-border-width					: 2px;
$services-alt-icon-border-style					: solid;
$services-alt-icon-border-color					: #ff600a;
$services-alt-icon-border-color-hover			: #ff600a;
$services-alt-icon-bg-color						: transparent;
$services-alt-icon-bg-color-hover				: #ff600a;

// Services: hover Boxes with Icons
$services-alt-1-icon-size						: 60px;
$services-alt-1-bg-color						: #ff600a;
$services-alt-1-bg-cover-color					: #262626;
$services-alt-1-border-color					: #ffffff;
$services-alt-1-title-color						: #ffffff;
$services-alt-1-font-color						: #ffffff;
$services-alt-1-cover-font-color				: #ffffff;

// Buttons
$lc-button-default-text-color					: #ffffff;
$lc-button-default-text-color-hover				: #ffffff;
$lc-button-default-icon-color					: #ffffff;
$lc-button-default-icon-color-hover				: #ffffff;
$lc-button-default-bg-color						: #7f858b;
$lc-button-default-bg-color-hover				: #ff600a;
$lc-button-default-border-radius				: 0;
$lc-button-default-border-width					: 0;
$lc-button-default-border-style					: solid;
$lc-button-default-border-color					: transparent;
$lc-button-default-border-color-hover			: transparent;

$lc-button-small-text-size						: 12px;
$lc-button-small-icon-size						: 12px;
$lc-button-small-text-padding					: 5px 15px;

$lc-button-middle-text-size						: 14px;
$lc-button-middle-icon-size						: 14px;
$lc-button-middle-text-padding					: 8px 20px;

$lc-button-large-text-size						: 16px;
$lc-button-large-icon-size						: 16px;
$lc-button-large-text-padding					: 15px 25px;

$lc-button-orange-text-color					: #ffffff;
$lc-button-orange-text-color-hover				: #ffffff;
$lc-button-orange-icon-color					: #ffffff;
$lc-button-orange-icon-color-hover				: #ffffff;
$lc-button-orange-bg-color						: #ff600a;
$lc-button-orange-bg-color-hover				: #7f858b;
$lc-button-orange-border-color					: transparent;
$lc-button-orange-border-color-hover			: transparent;

// Dividers
$lc-divider-type-1-width						: 100%;
$lc-divider-type-1-height						: 1px;
$lc-divider-type-1-style						: solid;

$lc-divider-type-2-width						: 80px;
$lc-divider-type-2-height						: 1px;
$lc-divider-type-2-style						: solid;

$lc-divider-type-3-width						: 100%;
$lc-divider-type-3-height						: 0;
$lc-divider-type-3-style						: solid;

$lc-divider-small								: 15px;
$lc-divider-middle								: 25px;
$lc-divider-large								: 35px;

$lc-divider-color-transparent					: transparent;
$lc-divider-color-gray							: #b6b6b7;
$lc-divider-color-dark							: #232527;

/* -------------------------------------------------- */
/* Services: Icons at Left
/* -------------------------------------------------- */

.ca-shortcode {
	margin-bottom: 10px;

	&:last-child {
		margin-bottom: 0;
	}

	i {
		&.ca-icon {
			float: left;
			margin-right: 15px;
			width: auto;

			&:before {
				padding-top: 7px;
				color: $services-icon-color;
				font-size: $services-icon-size;
			}
		}
	}

	&:hover {
		i {
			&.ca-icon {
				&:before {
					@include transform-transition(.45s ease-in-out, opacity .45s ease-in-out);
					@include animation(wobble-vertical ease-in-out 2s both);
				}
			}
		}
	}


	.ca-title {
		margin-bottom: 0;
	}

	.ca-content {
		display: table;
	}
}

/* -------------------------------------------------- */
/* Services: Icons at Top
/* -------------------------------------------------- */

.ca-shortcode-alt {
	margin-bottom: 10px;

	&:last-child {
		margin-bottom: 0;
	}

	i {
		&.ca-icon {
			width: 94px;
			height: 94px;
			position: relative;
			margin: 0 auto 20px;
			display: block;
			text-align: center;
			z-index: 1;

			&:before {
				margin: 0;
				padding: 25px;
				border-width: $services-alt-icon-border-width;
				border-style: $services-alt-icon-border-style;
				border-color: $services-alt-icon-border-color;
				border-radius: 50%;
				color: $services-alt-icon-color;
				font-size: $services-alt-icon-size;
				background-color: $services-alt-icon-bg-color;
			}

			&:after {
				pointer-events: none;
				position: absolute;
				width: 100%;
				height: 100%;
				border-radius: 50%;
				content: '';
				-webkit-box-sizing: content-box;
				-moz-box-sizing: content-box;
				box-sizing: content-box;

				top: 0;
				left: 0;
				padding: 0;
				z-index: -1;
				opacity: 0;
				@include box-shadow(0 0 0 2px rgba(255,255,255,0.1));
				@include transform(scale(0.9));
			}
		}
	}

	&:hover {
		i {
			&.ca-icon {
				&:before {
					border-width: $services-alt-icon-border-width;
					border-style: $services-alt-icon-border-style;
					border-color: $services-alt-icon-border-color-hover;
					color: $services-alt-icon-color-hover;
					background-color: $services-alt-icon-bg-color-hover;
					@include transform-transition(.45s ease-in-out, opacity .45s ease-in-out);
				}
				&:after {
					@include animation(sonarEffect 1.3s ease-out 75ms);
				}
			}
		}
	}

	.ca-content {
		display: table;
		text-align: center;
		color: $services-alt-font-color;

		h3 {
			color: $services-alt-title-color;
		}
	}
}

/* sonarEffect */
@include keyframes(sonarEffect) {
	0% {opacity: 0.3;}
	30% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px lighten($services-alt-icon-bg-color-hover, 10%), 0 0 10px 10px lighten($services-alt-icon-bg-color-hover, 20%), 0 0 0 10px lighten($services-alt-icon-bg-color-hover, 50%);
	}
	100% {
		box-shadow: 0 0 0 2px lighten($services-alt-icon-bg-color-hover, 10%), 0 0 10px 10px lighten($services-alt-icon-bg-color-hover, 20%), 0 0 0 10px lighten($services-alt-icon-bg-color-hover, 50%);
		-webkit-transform: scale(1.5);
		opacity: 0;
	}
}

/* -------------------------------------------------- */
/*	Services: hover Boxes with Icons
/* -------------------------------------------------- */

.content-boxes {
	font-size: 0;

	> ul {
		> li {
			position: relative;
			display: inline-block;
			overflow: hidden;
			padding: 60px 15px;
			width: 100%;
			min-height: 310px;
			border: 1px solid $services-alt-1-border-color;
			background-color: $services-alt-1-bg-color;
			color: $services-alt-1-font-color;
			vertical-align: top;
			text-align: center;

			.content-icon {
				display: block;
				margin-bottom: 50px;

				&[class*="icon-"] {
					&:before {
						font-size: $services-alt-1-icon-size;
					}
				}
			}

			h2 {
				margin-bottom: 0;
				color: $services-alt-1-title-color;
				text-transform: uppercase;
				font-weight: 300;
				line-height: 1.2em;
			}

			.hover-box {
				position: absolute;
				top: -100%;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: $services-alt-1-bg-cover-color;

				@include transition(top .20s ease);
			}

			.extra-content {
				position: absolute;
				left: 0;
				opacity: 0;
				width: 100%;
				height: 100%;
				bottom: -100%;

				@include transition(bottom .20s ease, opacity .15s ease);
			}

			.extra-table {
				display: table;
				overflow: hidden;
				width: 100%;
				height: 100%;
				vertical-align: middle;
				text-align: center;
			}

			.extra-inner {
				display: table-cell;
				padding: 0 30px;
				width: 100%;
				height: 100%;
				font-size: 14px;
				vertical-align: middle;

				h4 {
					text-transform: uppercase;
				}

				> * {
					color: $services-alt-1-cover-font-color;
				}
			}

			&:hover,
			&.active {
				.hover-box {
					top: 0;
				}

				.extra-content {
					bottom: 0;
					opacity: 1;

					-webkit-transition-delay: .15s;
					transition-delay: .15s;
				}
			}
		}
	}
}

/* -------------------------------------------------- */
/*	Buttons
/* -------------------------------------------------- */

.lc-button {
	overflow: hidden;
	display: inline-block;
	outline: none;
	vertical-align: baseline;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	color: $lc-button-default-text-color;
	background-color: $lc-button-default-bg-color;
	border-width: $lc-button-default-border-width;
	border-style: $lc-button-default-border-style;
	border-color: $lc-button-default-border-color;
	border-radius: $lc-button-default-border-radius;

	@include border-radius($lc-button-default-border-radius);
	@include transition(background-color .25s ease-in-out, color .35s ease-in-out);

	&[class*="icon-"] {
		color: $lc-button-default-icon-color;
	}

	&:hover {
		color: $lc-button-default-text-color-hover;
		background-color: $lc-button-default-bg-color-hover;
		border-color: $lc-button-default-border-color-hover;

		&[class*="icon-"] {
			color: $lc-button-default-icon-color-hover;
		}
	}

	// Align Left
	&.alignleft {
		float: left;
		margin-right: 20px;
	}

	// Align Right
	&.alignright {
		float: right;
		margin-left: 20px;
	}

	// Align Center
	&.aligncenter {
		width: 100px;	// TODO: Add a couple width sizes for centering buttons
		display: block;
		margin: 0 auto;
	}

	// Size Small
	&.small {
		padding: $lc-button-small-text-padding;
		font-size: $lc-button-small-text-size;

		&[class*="icon-"] {
			font-size: $lc-button-small-icon-size;
		}
	}

	// Size Middle
	&.middle {
		padding: $lc-button-middle-text-padding;
		font-size: $lc-button-middle-text-size;

		&[class*="icon-"] {
			font-size: $lc-button-middle-icon-size;
		}
	}

	// Size Large
	&.large {
		padding: $lc-button-large-text-padding;
		font-size: $lc-button-large-text-size;

		&[class*="icon-"] {
			font-size: $lc-button-large-icon-size;
		}
	}

	//	Orange color
	&.orange {
		color: $lc-button-orange-text-color;
		background-color: $lc-button-orange-bg-color;
		border-color: $lc-button-orange-border-color;

		&[class*="icon-"] {
			color: $lc-button-orange-icon-color;
		}

		&:hover {
			color: $lc-button-orange-text-color-hover;
			background-color: $lc-button-orange-bg-color-hover;
			border-color: $lc-button-orange-border-color-hover;

			&[class*="icon-"] {
				color: $lc-button-orange-icon-color-hover;
			}
		}
	}

}

/* -------------------------------------------------- */
/*	Dividers
/* -------------------------------------------------- */

.lc-divider {
	margin-left: auto;
	margin-right: auto;
	padding: 0;

	&:before {
		@include clearfix();
	}

	// Space
	&.small { margin-top: $lc-divider-small; margin-bottom: $lc-divider-small; }
	&.middle { margin-top: $lc-divider-middle; margin-bottom: $lc-divider-middle; }
	&.large { margin-top: $lc-divider-large; margin-bottom: $lc-divider-large; }

	// Types
	&.type-1 {
		width: $lc-divider-type-1-width;
		border-top-width: $lc-divider-type-1-height;
		border-top-style: $lc-divider-type-1-style;
	}

	&.type-2 {
		width: $lc-divider-type-2-width;
		border-top-width: $lc-divider-type-2-height;
		border-top-style: $lc-divider-type-2-style;
	}

	&.type-3 {
		width: $lc-divider-type-3-width;
		border-top-width: $lc-divider-type-3-height;
		border-top-style: $lc-divider-type-3-style;
	}

	// Colors
	&.transparent {
		border-top-color: $lc-divider-color-transparent;
	}

	&.gray {
		border-top-color: $lc-divider-color-gray;
	}

	&.dark {
		border-top-color: $lc-divider-color-dark;
	}
}