
// Offset Options
#content {
	padding-bottom: 0;

	.section {
		position: relative;
		overflow: hidden;

		&.padding-off {
			padding-top: 0;
			padding-bottom: 0;
		}

		&.padding-top-20 {
			padding-top: 20px;
		}

		&.padding-top-40 {
			padding-top: 40px;
		}

		&.padding-top-60 {
			padding-top: 60px;
		}

		&.padding-top-80 {
			padding-top: 80px;
		}

		&.padding-top-100 {
			padding-top: 100px;
		}

		&.padding-bottom-20 {
			padding-bottom: 20px;
		}

		&.padding-bottom-40 {
			padding-bottom: 40px;
		}

		&.padding-bottom-60 {
			padding-bottom: 60px;
		}

		&.padding-bottom-80 {
			padding-bottom: 80px;
		}

		&.padding-bottom-100 {
			padding-bottom: 100px;
		}
	}
}
